
# Pwskills – Data Types and Structures Assignment (Python)

---

##  Theory Questions

### 1. What are data structures, and why are they important?
Data structures are specialized formats for organizing, processing, and storing data. Examples include lists, tuples, dictionaries, and sets. They are important for:
- Efficient data access
- Optimized storage
- Easier data manipulation and searching

---

### 2. Explain the difference between mutable and immutable data types with examples
-  Mutable : Can be changed after creation  
  ```python
  my_list = [1, 2, 3]
  my_list.append(4)  # list changes
  ```

-  Immutable : Cannot be changed once created  
  ```python
  my_str = "hello"
  # my_str[0] = 'H'  #  Not allowed
  ```

---

### 3. What are the main differences between lists and tuples in Python?


list:
- mutable
- [2,"apple"]
- Slower
- Changing data

while

tuples:
- immutable
- (2,"apple")
- Faster
- Fixed data
---

### 4. Describe how dictionaries store data
Dictionaries store data as key-value pairs using a hash table. Each key maps to a value, enabling fast access.
```python
student = {"name": "Alice", "age": 20}
```

---

### 5. Why might you use a set instead of a list in Python?
- To  remove duplicates
- For  faster membership testing
- When order doesn’t matter
```python
set([1, 2, 2, 3])  # {1, 2, 3}
```

---

### 6. What is a string in Python, and how is it different from a list?
- A  string  is a sequence of characters (`"hello"`)
- It is  immutable , unlike a list
- Strings only store characters, lists can store any data types

---

### 7. How do tuples ensure data integrity in Python?
Since tuples are  immutable , once data is assigned, it cannot be modified. This protects against accidental changes.

---

### 8. What is a hash table, and how does it relate to dictionaries in Python?
A  hash table  is a data structure that maps keys to values using a hash function. Python's dictionaries are built using hash tables for fast lookup.

---

### 9. Can lists contain different data types in Python?
Yes. Lists in Python can hold mixed data types.
```python
my_list = [1, "hello", 3.14, True]
```

---

### 10. Explain why strings are immutable in Python
Strings are immutable for:
-  Memory efficiency
-  Thread safety -> which avoid any bug to enter unintentionally
- simplicity
- Reuse in memory due to  interning --> mtlb dobara use krlena use ..hr baar memory na use krna pde.... for that small strings ko generally intern kr liya jata  hai


---

### 11. What advantages do dictionaries offer over lists for certain tasks?
-  Faster lookup  using keys
-  Associative storage  (key-value)
- Better for modeling real-world data

---

### 12. Describe a scenario where using a tuple would be preferable over a list
Use a tuple when:
- You need a  fixed, unchangeable  sequence of values
- Example: Storing GPS coordinates (latitude, longitude)

---

### 13. How do sets handle duplicate values in Python?
Sets automatically  remove duplicates .
```python
set([1, 2, 2, 3])  # {1, 2, 3}
```

---

### 14. How does the “in” keyword work differently for lists and dictionaries?
- In  lists : checks values  
- In  dicts : checks keys only


```python
3 in [1, 2, 3]           # True
"name" in {"name": "A"}  # True
"A" in {"name": "A"}     # False
```

---

### 15. Can you modify the elements of a tuple? Explain why or why not
No. Tuples are  immutable , and elements cannot be changed once assigned.

---

### 16. What is a nested dictionary, and give an example of its use case
A dictionary within another dictionary.
```python
data = {
    "student": {"name": "Alice", "age": 20},
    "course": "Python"
}
```

---

### 17. Describe the time complexity of accessing elements in a dictionary
Time complexity:  O(1)  average case due to hashing.

---

### 18. In what situations are lists preferred over dictionaries?
- When order matters
- When storing a sequence without named access
- Simpler data structures

---

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Before Python 3.7, dictionaries did not preserve insertion order. While now they do, traditionally they're unordered—data retrieval depends on keys, not position.

---

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.
- 1.	Access Method:
	  -	List: Access elements using index (like ->  my_list[0])
	  -	Dictionary: Access values using keys (example -> my_dict['key'])

-	2.	Data Structure:
	  -	List: Stores items in a sequential order
	  -	Dictionary: Stores data as key-value pairs

-	3.	Ordering:
	  -	List: Ordered collection (insertion order is preserved)
	  -	Dictionary: Ordered (since Python 3.7+), but based on keys

-	4.	Indexing Type:
	  -	List: Uses integer indices (0, 1, 2, …)
	  -	Dictionary: Uses keys of any hashable type (string, int, tuple, etc.)

-	5.	Duplicates:
	  -	List: Allows duplicate elements
	  -	Dictionary: Keys must be unique; values can be duplicates

-	6.	Use Case:
	  -	List: Ideal for ordered sequences (eg. items in a queue)
	  -	Dictionary: Best for lookup by identifiers (eg. user info by ID)

-	7.	Time Complexity:
	  -	List: O(1) for index access, but O(n) for search
	  -	Dictionary: O(1) average for lookup, insert, delete by key

---
#Practical Questions
---

In [10]:
# 1. Create a string with your name and print it
name = "John Doe"
print(name)

John Doe

In [9]:
# 2. Find the length of "Hello World"
print(len("Hello World"))

11

In [11]:

# 3. Slice first 3 characters from "Python Programming"
print("Python Programming"[:3])

Pyt

In [12]:

# 4. Convert "hello" to uppercase
print("hello".upper())

HELLO

In [13]:
# 5. Replace "apple" with "orange"
print("I like apple".replace("apple", "orange"))

I like orange

In [14]:
# 6. Create a list with numbers 1 to 5
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [15]:

# 7. Append 10 to the list
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [16]:
# 8. Remove 3 from list
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)
#doosra hum element ki location se access krke bhi delete kr skte hai agar us thr krna chahe more specific

[1, 2, 4, 5]

In [17]:

# 9. Access second element in list
print(['a', 'b', 'c', 'd'][1])

#yaha pr backward indexing bhi use kr skte hai hum

b

In [18]:

# 10. Reverse list
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

#loop lagakr bhi value change krke reverse kr skte hai hum

[50, 40, 30, 20, 10]

In [19]:
# 11. Create a tuple (100, 200, 300)
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

In [20]:

# 12. Access second-to-last in tuple
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [21]:
# 13. Find minimum in tuple
tpl = (10, 20, 5, 15)
print(min(tpl))

5

In [22]:
# 14. Index of "cat"
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [23]:
# 15. Check if "kiwi" is in fruits
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [24]:

# 16. Create set and print
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [25]:
# 17. Clear set
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [26]:
# 18. Remove element 4
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [27]:

# 19. Union of sets
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}

In [28]:

# 20. Intersection of sets
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

In [29]:
# 21. Create dictionary
d = {"name": "John", "age": 25, "city": "New York"}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [30]:

# 22. Add new key-value pair
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [31]:
# 23. Access value of "name"
dcnary = {'name': 'Alice', 'age': 30}
print(dcnary["name"])

Alice

In [32]:
# 24. Remove "age" from dict
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [33]:

# 25. Check if "city" exists
print("city" in {'name': 'Alice', 'city': 'Paris'}) #ye hume return krega true ya false me value

True

In [34]:

# 26. Create and print list, tuple, dict
print([1, 2, 3], (4, 5, 6), {"a": 1, "b": 2})

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [35]:
# 27. Random list of 5 numbers, sort it
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[1, 71, 84, 95, 99]

In [36]:
# 28. List with strings, print 3rd index
lst = ["a", "b", "c", "d", "e"]
print(lst[3])

d

In [37]:
# 29. Combine two dictionaries
a = {"x": 1}
b = {"y": 2}
c =  a|b
print(c)

{'x': 1, 'y': 2}

In [7]:

# 30. Convert list of strings to set
print(set(["apple", "banana", "cherry"]))

{'apple', 'cherry', 'banana'}